
	{% assign cols = 0 %}

	{% for i in (1..6) %}
	  {% capture feature %}home-features-{{ i }}-title{% endcapture %}
		{% unless settings[feature] == blank %}
		  {% assign cols = cols | plus: 1 %}
		{% endunless %}
	{% endfor %}

	{% case cols %}
		{% when 1 %}
			{% assign grid_class = 'grid__item text-center' %}
		{% when 2 %}
			{% assign grid_class = 'grid__item large--one-half medium--one-half text-center' %}
		{% when 3 %}
			{% assign grid_class = 'grid__item large--one-third medium-down--text-center' %}
		{% when 4 %}
			{% assign grid_class = 'grid__item large--one-quarter medium--one-half text-center' %}
		{% when 5 %}
			{% assign grid_class = 'grid__item large--one-half medium--one-half text-center' %}
		{% when 6 %}
			{% assign grid_class = 'grid__item large--one-third medium--one-half text-center' %}
	{% endcase %}

	<div class="home-features">

		<h2 class="home-section-title">{{ 'homepage.titles.features' | t }}</h2>

		<ul class="features-list grid grid-margins">

			{% unless settings.home-features-1-title == blank %}
				<li class="{{ grid_class }}">
				<!-- <i class="fa fa-{{ settings.home-features-1-icon }} fa-3x"></i>-->
                  	<i> <img src="{{ 'icon1.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-1-title }}</h4>
					<p>{{ settings.home-features-1-content }}</p>
				</li>
			{% endunless %}

			{% unless settings.home-features-2-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-2-icon }} fa-3x"></i>-->
                  	<i> <img src="{{ 'icon2.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-2-title }}</h4>
					<p>{{ settings.home-features-2-content }}</p>
				</li>
			{% endunless %}

			{% if cols == 5 %}
				{% assign grid_class = 'grid__item one-third small--one-whole text-center' %}
			{% endif %}

			{% unless settings.home-features-3-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-3-icon }} fa-3x"></i>-->
                  <i> <img src="{{ 'icon3.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-3-title }}</h4>
					<p>{{ settings.home-features-3-content }}</p>
				</li>
			{% endunless %}

			{% unless settings.home-features-4-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-4-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon4.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-4-title }}</h4>
					<p>{{ settings.home-features-4-content }}</p>
				</li>
			{% endunless %}

			{% unless settings.home-features-5-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-5-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon5.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-5-title }}</h4>
					<p>{{ settings.home-features-5-content }}</p>
				</li>
			{% endunless %}

			{% unless settings.home-features-6-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-6-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon6.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-6-title }}</h4>
					<p>{{ settings.home-features-6-content }}</p>
				</li>
			{% endunless %}
          	{% unless settings.home-features-7-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-7-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon7.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-7-title }}</h4>
					<p>{{ settings.home-features-7-content }}</p>
				</li>
			{% endunless %}
          {% unless settings.home-features-8-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-8-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon8.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-8-title }}</h4>
					<p>{{ settings.home-features-8-content }}</p>
				</li>
			{% endunless %}
           {% unless settings.home-features-9-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-9-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon9.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-9-title }}</h4>
					<p>{{ settings.home-features-9-content }}</p>
				</li>
			{% endunless %}
           {% unless settings.home-features-10-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-10-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon10.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-10-title }}</h4>
					<p>{{ settings.home-features-10-content }}</p>
				</li>
			{% endunless %}
			{% unless settings.home-features-11-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-11-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon11.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-11-title }}</h4>
					<p>{{ settings.home-features-11-content }}</p>
				</li>
			{% endunless %}
          {% unless settings.home-features-12-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-12-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon12.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-12-title }}</h4>
					<p>{{ settings.home-features-12-content }}</p>
				</li>
			{% endunless %}
           {% unless settings.home-features-13-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-13-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon13.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-13-title }}</h4>
					<p>{{ settings.home-features-13-content }}</p>
				</li>
			{% endunless %}
          {% unless settings.home-features-14-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-14-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon14.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-14-title }}</h4>
					<p>{{ settings.home-features-14-content }}</p>
				</li>
			{% endunless %}
           {% unless settings.home-features-15-title == blank %}
				<li class="{{ grid_class }}">
					<!--<i class="fa fa-{{ settings.home-features-15-icon }} fa-3x"></i>-->
                    <i> <img src="{{ 'icon15.svg' | asset_url }}"> </i>
					<h4>{{ settings.home-features-15-title }}</h4>
					<p>{{ settings.home-features-15-content }}</p>
				</li>
			{% endunless %}
			<!-- Onboarding -->
			{% if settings.home-features-1-title == blank %}
			  {% for i in (1..3) %}
					<li class="grid__item one-third medium-down--one-whole medium--text-center">
						<i class="fa fa-bell-o fa-3x"></i>
						<h4>{{ 'homepage.onboarding.section_title' | t }}</h4>
						<p>{{ 'homepage.onboarding.section_text_html' | t }}</p>
					</li>
				{% endfor %}
			{% endif %}

		</ul>

	</div>
