{% assign header_title = product.title %}
<!--{% include 'page_header' with header_title %}-->

<div class="wrapper wrapper--margins">

  <div class="product grid">

    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    <div class="product__image grid__item one-half medium-down--one-whole">
      <div id="slider" class="regular-slider flexslider">
        <ul class="slides">
          {% if product.images.size > 0 %}
            {% for image in product.images %}
              <li class="slide" data-variant-img="{{ image.id }}">
                <a href="{{ image | img_url: '2048x2048' }}" class="image-popup">
                  <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          {% else %}
            <li class="slide">
              <img src="{{ 'no-image.svg' | asset_url }}" alt="">
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="product__content grid__item one-half medium-down--one-whole">

      <h2 class="secondary-title">{{ product.title }}</h2>
      <div class="yotpo bottomLine" style="display: inline-block;"
					data-appkey="z0IK56YL6WswPuqGJxc3XYPvxXQGp9JR4X2SlPm7"
					data-domain="{{ shop.permanent_domain | escape }}"
					data-product-id="{{ product.id }}"
					data-product-models="{{ product.id }}"
					data-name="{{ product.title | escape }}"
					data-url="{{ shop.url }}{{ product.url }}"
					data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
					data-description="{{ product.description | escape }}"
					data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
	   </div>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

          <div class="price-container">
            <span id="ProductPrice" class="h2 price" itemprop="price">
              {{ current_variant.price | money | remove: '.00' }}
            </span>
            <span class="savings price">
              Original Price: <s id="ComparePrice">{{ current_variant.compare_at_price | money | remove: '.00' }}</s>
              <strong id="SavedPrice">
                You Save:
                  <span id="SavedAmount">{{ current_variant.compare_at_price | minus: current_variant.price | money | remove: '.00' }}</span>
                  (<span id="SavedPercent">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round: 2 }}%</span>)
              </strong>
            </span>
            <strong class="and-free-shipping">&amp; Free Shipping</strong>
          </div>

          <div class="form__row" style="margin-top: 10px">

      	      <select name="id" id="productSelect" class="product-single__variants">
      	        {% for variant in product.variants %}
      	          {% if variant.available %}

      	            <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      	          {% else %}
      	            <option disabled="disabled">
      	              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      	            </option>
      	          {% endif %}
      	        {% endfor %}
      	      </select>
            
              {% if product.available and product.options contains 'Color' %}
                <div class="form__column">{% include 'swatch' with 'Color' %}</div>
              {% endif %}

      		    <div class="form__column quantity-selector">
      			    <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
      			    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qty-remove-defaults quantity-selector">
      		    </div>

              <div class="form__column">
                <button type="submit" name="add" id="AddToCart" class="btn btn--fill btn--regular btn--color">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
                <!--<div><strong class="and-free-shipping">Est. Availability Dec 19</strong></div> -->
                
              </div>
			
          </div>
		<div><a class="klarna-upstream" style="color:#009ef3" id="klarna-upstream-product" href="javascript:void(0)" data-merchant-id="N100278" data-snippet="StandardMonthlyPrice"></a></div>
        </form>

      </div>


      

      <div class="product-description rte" itemprop="description">
        {{ product.description }}
      </div>
      
      <a class="link-view-manual" href="https://cdn.shopify.com/s/files/1/1233/5068/files/UberScuuter_Manual_Owner_FINAL_R2.pdf?18125363373369333053" target="_blank" >View User Manual</a>
      {% if settings.collection_sharing_enabled %}
        {% include 'page_share' %}
      {% endif %}

    </div>
   

    <div class="product__more-images grid__item one-whole">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/6anUQxmkDVM" frameborder="0" allowfullscreen></iframe>
      {% assign slide_images = 'home-slide1@2x.jpg,home-slide2@2x.jpg,home-slide3@2x.jpg,home-slide4@2x.jpg' | split: ',' %}
      {% include 'slider-image-wide', slide_images: slide_images %}
    </div>
     <div class="grid__item one-half specs">
    {% include 'specifications' %}
    </div>
        <div class="grid__item one-half specs">
         {% include 'new_features' %} 
          
  </div>

  </div>

  <div>{% include 'product-features' %}</div>
  <div class="yotpo yotpo-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}">
</div>
       
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  var selectCallback = function(variant, selector) {

    var $addToCart = $('#AddToCart'),
        $productPrice = $('#ProductPrice'),
        $comparePrice = $('#ComparePrice'),
        $quantityElements = $('.quantity-selector'),
        $addToCartText = $('#AddToCartText'),
        moneyFormat = "{{ shop.money_format }}";

    if (variant) {

      // color swatch
      var form = $('#' + selector.domIdPrefix).closest('form');
      for (var i = 0, length = variant.options.length; i < length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }

      // Change product image
      if (variant.featured_image) {
        var newImg = $('#slider').find('.slide[data-variant-img="' + variant.featured_image.id + '"]');
        if (newImg.length > 0) {
          if ($('#slider').hasClass('loaded')) {
            $('#slider').flexslider(newImg.data('index'));
          } else {
            $('#slider').data('loaded-index', newImg.data('index'));
          }
        }
      }

      // Edit cart buttons based on stock

      // Select a valid variant if available
      if (variant.available) {
        // Available, enable the submit button, change text, show quantity elements
        $addToCart.removeClass('btn--disabled').prop('disabled', false);
        $addToCartText.html({{ 'products.product.add_to_cart' | t | json }});
        $quantityElements.removeClass('hidden');
      } else {
        // Sold out, disable the submit button, change text, hide quantity elements
        $addToCart.addClass('btn--disabled').prop('disabled', true);
        $addToCartText.html({{ 'products.product.sold_out' | t | json }});
        $quantityElements.addClass('hidden');
      }

      // Update price

      $productPrice.html( Shopify.formatMoney(variant.price, moneyFormat).replace('.00', '') );
      if ( variant.compare_at_price > variant.price ) {
        $comparePrice.html(Shopify.formatMoney(variant.compare_at_price, moneyFormat).replace('.00', '')).show();
      } else {
        $comparePrice.hide();
      }

    } else {

      // Disable variant completely

      $addToCart.addClass('btn--disabled').prop('disabled', true);
      $addToCartText.text("{{ 'products.product.unavailable' | t }}");
      $quantityElements.addClass('hidden');

    }

  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 %}
      {% if product.options.first != "Title" %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
      {% else %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">&nbsp;</label>');
      {% endif %}
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
